body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width : '100%';
}

.login-form {
  background-color: 'e2e2e2';
}

.center-container {
  display: flex;
  justify-content: center; /* horizontally */
  align-items: center;     /* vertically */
  height: 100vh;           /* full height of viewport */
}